* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    border-bottom: 1px solid #555555;
}

/* background-color: #4E5953; */

header .titleBankKreat {
    font-size: 1.5rem;
    font-family: 'Playfair Display SC', serif;
}

.li_nav_id_user {
    padding: 1.2rem;
    color: #FFFFFF;
    min-width: 10vw;
    display: flex;
    justify-content: end;
    align-content: center;
}

.bi-person-fill {
    display: inline;
}

.bi-caret-down-fill {
    margin-left: 2px;
}

.li_user_dropdown {
    display: flex;
    flex-direction: row;
}

.dropdown_icon {
    text-align: left;
    display: inline-block;
    margin-top: 0.9rem;
    color: #FFFFFF;
    position: relative;
    right: 15px;
}

.signOutText {
    font-size: small;
}

.dropdownExit {
    left: auto;
    right: 0%;
}

#p_identificate_user {
    display: flex;
    flex-direction: row;
    justify-self: end;
    align-self: flex-end;
}

main {
    font-family: 'Playfair Display SC', serif;
    min-width: 100vw;
    min-height: 85vh;
    position: relative;
    background-image: url('../multimedia/petronesTowers.jpeg');
    background-size: cover;
    z-index: 50;
}

main::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: -1;
}

.mainCalculator {
    font-family: 'Playfair Display SC', serif;
    min-width: 100vw;
    max-height: 85vh;
    position: relative;
    background-image: url('../multimedia/littleBird.jpeg');
    background-size: cover;
    z-index: 50;
}

.mainCalculator::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: -1;
}

main .inputMount {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 40%;
    text-align: center;
    font-size: 80%;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 1%;
    background-color: transparent;
    color: #FFFFFF;
    resize: none;
    outline: 0;
}

main .inputMount:focus {
    animation: littlepulse 1s;
    box-shadow: 0 0 0 0.5rem transparent;
}

@keyframes littlepulse {
    0% { box-shadow: 0 0 0 0 }
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

main .inputFinalMount {
    max-width: 15%;
    border: none;
}

main .concept {
    font-size: 100%;
    font-weight: normal;
    color: #FFFFFF;
}

main .interesValues {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 200px;
}

main .userData {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
    margin-left: 0.5%;
}

main .inputUser {
    border: none;
    border-bottom: 2px #FFFFFF ridge;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    padding: 1%;
    outline: none;
    resize: none;
    background-color: transparent;
    color: #FFFFFF;
}

main .inputUser:focus {
    border-bottom: 2px solid gold;
}

main .userText, .finalCapitalText {
    font-size: 120%;
    font-weight: normal;
    padding: 1%;
    color: #FFFFFF;
}

main .mount {
    font-size: 150%;
    color: #FFFFFF;
}

main #mountCapitalFinal_p{
    display: inline-block;
    font-size: 60%;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

.animateEntrance {
    animation: fadeInLeft;
    animation-duration: 2s;
}

main #DOMCapitalFinal_div {
    padding: 1rem;
    margin: 1rem;
    max-width: 35vw;
}

main .italic_CI_CR {
    font-style: normal;
    font-size: 70%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

main .div_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main .button_values, .button_userKeys {
    min-width: 10%;
    max-width: 15%;
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
    margin: 1%;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background-color: transparent;
    color: #FFFFFF;
}

main .button_userKeys:focus {
    box-shadow: inset 0 0 0 2em gold;
    transform: translateY(-0.25em);
    transition: 0.25s ease-in;
    border: 2px solid gold;
    color: #000000;
}

main .button_userKeys:visited {
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}

main .button_values {
    max-width: 7%;
}

main .button_dollarSymbol {
    min-width: 3%;
    max-width: 3%;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding: 0px;
    margin: 1%;
    border: none;
    border-radius: 50%;
    background: radial-gradient(circle, #EEEEEE, #CCCCCC, #999999);
    color: #000000;
}

.button_values:active {
    background-color: white;
    color: black;
}

.button_userKeys:hover {
    box-shadow: inset 0 0 0 2em gold;
    transform: translateY(-0.25em);
    transition: 0.25s ease-in;
    border: 2px solid gold;
    color: #000000;
}

main .welcome_message {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: #FFFFFF;   
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: flex-start;
    justify-items: start;
    align-items: center;
    background-color: #222222;
    position: fixed;
    min-width: 100vw;
    min-height: 300px;
    padding: 0.5rem;
}

footer .footerSign {
    text-align: center;
    font-size: 90%;
    color: #AAAAAA;
}

@media (max-width: 768px) {
    header .titleBankKreat {
        font-size: 1rem;
    }

    main .userText, .finalCapitalText {
        font-size: 80%;
        font-weight: normal;
        padding: 1%;
        color: #FFFFFF;
    }

    main .userData {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2%;
        margin-left: 0.5%;
    }

    main .inputUser {
        border: none;
        border-bottom: 2px #FFFFFF ridge;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.6rem;
        padding: 1%;
        outline: none;
        resize: none;
        background-color: transparent;
        color: #FFFFFF;
        max-width: 150px;
    }

    .button_userKeys {
        font-size: 12px;
        max-width: 125px;
    }
}