* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* background-color: #023047; */

.headerStyle {
    background-color: #023047;
    color: gold;
    padding: 1%;
}

main .inputMount {
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
    text-align: center;
    font-size: 80%;
}

main .inputFinalMount {
    width: 15%;
    border: none;
}

main .concept {
    font-size: 100%;
    font-weight: bold;
}

main {
    font-family: 'Playfair Display SC', serif;
    /* background-color: #000000; */
}

main .interesValues {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

main .userData {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
}

main .inputMount {
    border: none;
    padding: 1%;
}

main .inputUser {
    border: none;
    border-bottom: 2px solid gold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    padding: 1%;
    outline: none;
    resize: none;
}


main .userText, .finalCapitalText {
    font-size: 120%;
    font-weight: bold;
    padding: 1%;
}

main .mount {
    font-size: 150%;
}

main #mountCapitalFinal_p{
    font-size: 60%;
    font-family: Arial, Helvetica, sans-serif;
}

main .italic_CI_CR {
    font-style: normal;
    font-size: 70%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

main .div_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main .button_values, .button_userKeys {
    width: 10%;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
    margin: 1%;
    border: none;
    border-radius: 10px;
    background-color: #023047;
    color: gold;
}

.button_values:active,.button_userKeys:active{
    background-color: white;
    color: black;
}

footer {
    /* background-color: #000000; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

footer .footerSign {
    text-align: center;
    font-size: 90%;
}