* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    border-bottom: 1px solid #555555;
}

/* background-color: #4E5953; */

header .titleBankKreat {
    font-size: 1.5rem;
    font-family: 'Playfair Display SC', serif;
}

main {
    font-family: 'Playfair Display SC', serif;
    width: 100vw;
    height: 85vh;
    position: relative;
    background-image: url('/multimedia/petronesTowers.jpeg');
    background-size: cover;
    z-index: 50;
}

main::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: -1;
}

.mainCalculator {
    font-family: 'Playfair Display SC', serif;
    width: 100vw;
    height: 85vh;
    position: relative;
    background-image: url('/multimedia/littleBird.jpeg');
    background-size: cover;
    z-index: 50;
}

.mainCalculator::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: -1;
}

main .inputMount {
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
    text-align: center;
    font-size: 80%;
    border: none;
    padding: 1%;
    background-color: transparent;
    color: #FFFFFF;
    resize: none;
    outline: 0;
}

main .inputMount:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 0.5em transparent;
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0; }
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

main .inputFinalMount {
    width: 15%;
    border: none;
}

main .concept {
    font-size: 100%;
    font-weight: normal;
    color: #FFFFFF;
}

main .interesValues {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

main .userData {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
    margin-left: 2.5%;
}

main .inputUser {
    border: none;
    border-bottom: 2px #FFFFFF ridge;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    padding: 1%;
    outline: none;
    resize: none;
    background-color: transparent;
    color: #FFFFFF;
}

main .inputUser:focus {
    border-bottom: 2px solid gold;
}

main .userText, .finalCapitalText {
    font-size: 120%;
    font-weight: normal;
    padding: 1%;
    color: #FFFFFF;
}

main .mount {
    font-size: 150%;
    color: #FFFFFF;
}

main #mountCapitalFinal_p{
    font-size: 60%;
    font-family: Arial, Helvetica, sans-serif;
}

main .italic_CI_CR {
    font-style: normal;
    font-size: 70%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

main .div_buttons {
    display: inline;
}

main .button_values, .button_userKeys {
    width: 10%;
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
    margin: 1%;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background-color: transparent;
    color: #FFFFFF;
}

main .button_userKeys:focus {
    box-shadow: inset 0 0 0 2em gold;
    transform: translateY(-0.25em);
    transition: 0.25s ease-in;
    border: 2px solid gold;
    color: #000000;
}

main .button_userKeys:visited {
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}

main .button_values {
    width: 7%;
}

main .button_dollarSymbol {
    width: 3%;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding: 0px;
    margin: 1%;
    border: none;
    border-radius: 50%;
    background: radial-gradient(circle, #EEEEEE, #CCCCCC, #999999);
    color: #000000;
}

.button_values:active {
    background-color: white;
    color: black;
}

.button_userKeys:hover {
    box-shadow: inset 0 0 0 2em gold;
    transform: translateY(-0.25em);
    transition: 0.25s ease-in;
    border: 2px solid gold;
    color: #000000;
}

main .welcome_message {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: #FFFFFF;   
}

main #already_user {
    animation-name: appear;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes appear {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

footer {
    /* background-color: #000000; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    background-color: #222222;
    position: fixed;
    width: 100vw;
    height: 300px;
}

footer .footerSign {
    text-align: center;
    font-size: 90%;
    color: #AAAAAA;
}